:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #7d8a5b;
  background-color: rgb(37, 33, 33);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: left;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

.logo {
  margin-right: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #214721;
    background-color: #ffffff;
  }
}

p,
a,
button {
  margin: 0;
  padding: 0;
}





