.quiz-link,
.favorites-link,
.about-link,
.footer-link {
    position: absolute;
    right: 20px;
    color: rgb(196, 193, 193);
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 20px;
    z-index: 50;
    background-color: rgba(14, 45, 95, 0.7);
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    width: 150px;
    text-align: center;
}

.favorites-link {
    top: 20px;
}

.quiz-link {
    top: 80px;
}

.about-link {
    top: 140px;
}

.footer-link {
    bottom: 20px;
}

.quiz-link:hover,
.favorites-link:hover,
.about-link:hover,
.footer-link:hover {
    background-color: rgba(0, 86, 179, 0.9);
}

.footer-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: right;
}

.footer-container p {
    margin: 0;
}

.header {
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
}

.logo {
    width: 40px;
    height: auto;
}

.subheader {
    position: absolute;
    top: 100px;
    left: 35px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    font-family: 'Raleway', sans-serif;
}

.globe-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    cursor: pointer;
}

.coordinates-display {
    position: absolute;
    bottom: 100px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    z-index: 50;
    font-size: 1rem;
}








