/* src/Styles/TribeGlobe.css or your existing CSS file */

.favorites-link,
.about-link,
.footer-link { /* Lägger till footer-stil */
    position: absolute;
    right: 20px; /* Justera placeringen efter behov */
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 20px;
    z-index: 50; /* or any value higher than overlapping elements */
    background-color: rgba(14, 45, 95, 0.7); /* Gör bakgrundsfärgen genomskinlig */
    font-size: 16px;
    width: 150px; /* Sätt en fast bredd för att göra dem lika stora */
    text-align: center; /* Centra texten */
}

.favorites-link {
    top: 20px; /* Justera placeringen efter behov */
}

.about-link {
    top: 80px; /* Justera placeringen efter behov */
}

.footer-link {
    bottom: 20px; /* Placera footern längst ner */
    /* Kan ha olika top-position för knapparna, men vi använder bottom här */
}

.favorites-link:hover,
.about-link:hover,
.footer-link:hover { /* Hover-effekt för alla */
    background-color: rgba(0, 86, 179, 0.9); /* Gör hover-färgen genomskinlig */
}

.footer-container {
    position: absolute;
    bottom: 20px; /* Placera footern längst ner */
    right: 20px;
    color: white;
    font-size: 14px; /* Justera till lämpligt typsnitt och storlek */
    display: flex; /* Använd flexbox för att placera texten på en rad */
    align-items: right; /* Vertikalt centrera innehållet */
}

.footer-container p {
    margin: 0; /* Ta bort marginal för att undvika extra radbrytning */
}

.header {
    position: absolute;
    top: 20px; /* Justera efter behov */
    left: 20px; /* Justera efter behov */
    font-size: 3rem; /* Justera storlek */
    color: rgba(255, 255, 255, 0.7); /* Genomskinlig färg */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Skugga för synlighet */
    font-family: 'Raleway', sans-serif; /* Använd Raleway typsnitt */
    background-color: transparent;
  }
  
.subheader {
    position: absolute;
    top: 90px; /* Justera efter behov */
    left: 20px; /* Justera efter behov */
    font-size: 0.8rem; /* Justera storlek */
    color: rgba(255, 255, 255, 0.7); /* Genomskinlig färg */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* Skugga för synlighet */
    font-family: 'Raleway', sans-serif; /* Använd Raleway typsnitt */
  }
  
.globe-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Below buttons */
    cursor: pointer; /* Add pointer cursor */
}

.coordinates-display {
    position: absolute;
    bottom: 100px; /* Adjust based on your layout */
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    z-index: 50; /* Ensure it appears above other elements */
    font-size: 1rem;
}




