.chart-container {
  width: 100%;
  margin: auto;
  padding: 10px;
  background-color: #e3dbdb;
  border-radius: 16px;
}

.chart-container h4 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: rgb(0, 121, 121);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
}

:root {
  --temperature_2m_mean: rgba(75, 192, 192, 1);
  --temperature_2m_max: rgba(255, 99, 132, 1);
  --wind_speed_10m_mean: rgba(54, 162, 235, 1);
  --pressure_msl_mean: rgba(255, 206, 86, 1);
  --precipitation_sum: rgba(153, 102, 255, 1);
  --rain_sum: rgba(75, 192, 192, 1);
  --et0_fao_evapotranspiration_sum: rgba(255, 206, 86, 1);
  --soil_moisture_0_to_10cm_mean: rgba(255, 159, 64, 1);
}


  
  